body {
  background-color:#282C34;
  color:#9DA5B4;
  margin-top:2%
}

hr {
  border-top: 1px solid #9DA5B4;
  margin: 3%;
}

h2,h3,h4 {
  color:#D2D5DB;
}

h4 {
  margin-top: 1.5%
}

img {
  margin-bottom: 2%;
}

#stats {
  margin-top: 2%;
}

#statstab {
  margin-left: 20%;
}

.row {
  padding-left: 15%;
  padding-right: 15%;
  margin-top: 2%;
}

table {
  width:30%;
}

#kimg2 {
  visibility: hidden;
  margin-left: 2%;
}

#imgs {
  margin-left: 10%;
}
